name: GitHub Pull Request Actions For Nats Server Runner
on:
  pull_request:
    types: [opened, synchronize, edited, reopened]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      BUILD_TYPE: "PR"
    steps:
      - run: echo -e "PR Branch ${{ github.head_ref }}"
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Build and Test
        run: chmod +x gradlew && ./gradlew test
